<h1>Hello this is the about Alpha-Blog</h1>
<h2>Spectacular Mountain</h2>
<img src="pic_mountain.jpg" alt="Mountain View" style="width:304px;height:228px;">

</body>
</html>

<% link_to"Home",root_path %>_projects
